@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sauce Code Pro';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/sauce-code-pro_normal.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Sauce Code Pro';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/sauce-code-pro_italic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Sauce Code Pro';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/sauce-code-pro_bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Sauce Code Pro';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/sauce-code-pro_bold-italic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Symbols';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/symbols.woff2') format('woff2');
  }

  :root {
    --foreground: #000000;
    --background: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #ffffff;
      --background: #000000;
    }
  }

  html {
    @apply flex justify-center font-mono bg-background text-foreground;
  }
}
